header {
  width: 100%;
  height: 15vmin;
  background-color: firebrick;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: aliceblue;
  font-size: 1.6rem;
  display: flex;
  font-family: 'Poppins', sans-serif;
}